@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --gradient: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  }

body {
    min-height: 100vh;
    background-color: #eaeaea;
    background-image: var(--gradient);
    background-size: 200%;
    animation: gradient-animation 4s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'outfit';
    margin: 0;
}

@keyframes gradient-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.card {
    background-color: #ffffff63;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    
}

.card.show {
    transform: translateY(0); 
    opacity: 3; 
}

.card:hover{
    transform: scale(1.05);
    animation: 1s;
}

.profile-img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.name {
    font-size: 1.3rem;
    margin: 10px 0px 20px;
    color: rgba(255, 255, 255, 0.747);
    
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px; 
}

.btn-1 {
    background-color: #68686877;
    color: rgb(255, 255, 255);
    font-family: 'outfit';
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}
.btn-2 {
    background-color: #68686877;
    color: rgb(255, 255, 255);
    font-family: 'outfit';
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn-1:hover {
    background-color: #686868a1;
}
.btn-2:hover {
    background-color: #686868a1;
}


